<div class="container-fluid container-fluid-custom pb-5 mb-5">

    <div class="row mb-4">
      <% if(user){ %>
      <div class="col">
        <h1 class="h3">Aqui estão os espaços disponíveis.</h1>
      </div>
      <% } else { %>
      <div>
        <h1 class="h3">Aqui estão os espaços disponíveis.<br>Faça o login para reservar o seu!</h1>
    </div>
    <% } %>
    </div>
  
    <div class="row">
      <% if (espaco.length > 0) { for(var i=0; i < espaco.length; i++) { %>
        <div class="col-sm-3 mb-4">
          <div class="card border-primary" style="min-height: 210px">
            <a href="/espacos/item/<%= espaco[i]._id %>" class="card-body text-decoration-none">
              <img src="<%= espaco[i].image %>">
              <h5 class="card-title"><%= espaco[i].nome %></h5>
              <p class="card-text fw-bold"><%= espaco[i].local %></p>
              <p class="card-text">Capacidade: <%= espaco[i].capacidade %> pessoas</p>
              <button type="button" class="btn btn-outline-dark btn-sm">Ver detalhes</button>
            </a>
          </div>
        </div>
      <%  }} else { %>
        <div class="row">
          <div class="col-3">
            <img src="/img/human-3.svg" alt="Human pointing hand toward a create button">
          </div>
          <div class="col mt-md-4">
            <h2>Okay...</h2>
            <h4>Let's start with your first note!<br/><br/>
              <a href="/espacos/add">Create one!</a>
            </h4>
          </div>
        </div>
      <% } %>
    </div>
  
    <% if(espaco.length > 0) { %>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
          <% if(current == 1) { %>
            <li class="page-item disabled"><a class="page-link" href="#">Primeira</a></li>
          <% } else { %>
            <li class="page-item"><a class="page-link" href="/espacos">Primeira</a></li>
          <% }  %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1 ) { %>
            <li class="page-item"><a class="page-link" href="#">...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if(i == current ) { %>
              <li class="page-item"><a class="page-link disabled" href="#"><%= i %></a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/espacos/?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if(i == Number(current) + 4 && i < pages) { %>
              <li class="page-item"><a class="page-link" href="#">...</a></li>
            <% } %>
          <% } %>
          <% if (current == pages) { %>
              <li class="page-item disabled"><a class="page-link">Última</a></li>
          <% } else { %>
              <li class="page-item"><a href="/espacos/?page=<%= pages %>" class="page-link">Última</a></li>
          <% } %>
        </ul>
      </nav>
  
    <% } %>
  
  </div>